
.icon-money:before { content: '\e800'; } /* '' */
.icon-wallet:before { content: '\e801'; } /* '' */
.icon-dollar:before { content: '\e802'; } /* '' */
.icon-sun:before { content: '\e803'; } /* '' */
.icon-glass:before { content: '\e804'; } /* '' */
.icon-sun-filled:before { content: '\e805'; } /* '' */
.icon-sun-1:before { content: '\e806'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */