body
{
	/* Background pattern from subtlepatterns.com */
	background-image: url("img/tlo.png");
	margin: 0px;
    font-family: 'Lato', sans-serif ;
	font-size: 20px;
}

h1.logo
{
	font-style: italic;
	width: 100%;
	height: 50px;
	margin: 0px;
	background-color: black; 
	font-size: 26px;
	color: #ffeecc;
	text-align: center;
	padding: 10px 0px 0px 0px;
	letter-spacing: 3px;
	cursor:default;
	opacity: 0.65;

	
}

.content
{
	background-color: white;
	width: 700px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	text-align: center;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	cursor:default
}

.one
{
	width: 400px; 
	padding:0 ;
}

.two
{
	width: 380px; 
	padding:20px 10px; 
	margin-top:20px;
}

h4
{
	color: #004d4d;
	letter-spacing: 1px;
	margin-top: 10px;
}

#topnav
{
	background-color: #004d4d;
	text-align: center;
	width: 100%;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	
}

.menu
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 17px;
	height: 45px;
	line-height: 200%;
}

.menu > li
{
	display: inline-block;
	padding: 0;
	margin: 0;
	border-right: 1px dashed #d9d9d9;
	width: 150px;
	line-height: 45px;
}

.menu a
{
	color: #fff7e6;
	text-decoration: none;
}

.menu > li:first-child
{
	border-left: 1px dashed #d9d9d9;
}

.menu > li:hover
{	
	cursor: pointer;
	color: #0a2b42;
}

.menu > li > ul > li:hover
{	
	cursor: pointer;
	color: #0a2b42;
	opacity: 0.9;

}

.menu > li:hover > a
{
	color: #ffcc66;
}

.menu > li > ul > li:hover > a
{
	color: #000;
}

.menu > li > ul
{
	list-style-type: none;
	padding: 0px;
	margin: 0;
	height: 30px;
	display: none;
	font-size: 14px;
	position: absolute;
	width: 150px;

}

.menu > li:hover > ul
{
	display: block;
}

.menu > li > ul > li
{
	background-color: #ffcc66;
	position: relative;
	z-index: 100;
}

.menu >.active,
.menu >.active:hover

{	
	color: #ffcc66;
	text-shadow: 3px 3px 3px grey;
	cursor: default;
	background-color:#004d4d;
}

.user
{
	width: 180px;
	float: left;
	padding: 10px;
	margin: 0;
}

.user:hover
{
	background-color: #f2f2f2;
	cursor: pointer;
}
.user a
{
	 text-decoration: none;
	 color: #8c8c8c;
}	 

.user:hover > a
{
	color: #008080;
}	
	
.column1
{
	width:80px;
	height:40px;
	float:left;
	font-size: 16px;
	padding-top: 13px;
	color: #004d4d;

}

.column2
{
	width:300px;
	height:40px;
	float:left;
}



input[type=text],
input[type=password],
input[type=email]
{
	width: 260px;
	background-color: #efefef;
	color: black;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=date],
.incomes input[type=text],
.expenses input[type=text]
{
	width: 150px;
	background-color: #f2f2f2;
	color: black;
	border: 1px solid #ddd;
	border-radius: 2px;
	font-size: 14px;
	padding: 4px;
	box-sizing: border-box;
	outline: none;
	margin: 2px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=date]:focus
{
	-webkit-box-shadow: 0px 0px 4px 1px rgba(96,64,32,0.8);
	-moz-box-shadow: 0px 0px 4px 1px rgba(96,64,32,0.8);
	box-shadow: 0px 0px 4px 1px rgba(96,64,32,0.8);
	border: 1px solid #eee;
	color: black;
}


input[type=button]
{
	width: 200px;
	background-color: #004d4d;
	font-size:18px;
	color: white;
	padding: 10px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	letter-spacing: 1px;
	outline: none;
}

input[type=submit]
{
	width: 150px;
	background-color: #ffcc66;
	font-size:17px;
	color: black;
	padding: 10px 10px;
	margin: 10px;
	margin-top: 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	letter-spacing: 1px;
	outline: none;
}

input[type=submit]:focus,
input[type=button]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover,
input[type=button]:hover
{
	background-color: #ffc34d;
}

legend
{
	color: #006666; 
	font-style: italic;
}

#comment
{
	resize: none;
	border: 1px solid grey;
	box-sizing: border-box;
	margin-top:4px;
}

#comment:focus
{
	outline:none;
}

.comment
{
	font-style: italic; 
	font-size: 15px; 
	color: #006666;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

.ikon
{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 45px;
	height: 40px;
}

.incomes,
.expenses
{
	
	width: 500px;
	padding: 10px;
	font-size: 17px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

fieldset .row
{
	padding: 4px;
	margin-left: 15px;
	font-size: 15px;
}

.row2
{
	font-size: 16px;
	margin-right: 10px;
	margin-left: 20px;
}

.dropbtn 
{
  background-color: #ffc34d;
  color: black;
  padding: 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  border: 2px solid #ffeecc;
}

.dropdown 
{
  position: relative;
  display: inline-block;
  left: 350px;
  top: 35px;
}

.dropdown-content
{
  display: none;
  position: absolute;
  background-color:#ffd480;
  min-width: 170px;
  z-index: 1;
  list-style-type: none;
  padding: 0px;
  margin: 0;
  display: none;
  border-radius: 3px;
  left:0;
  top: 48px;
  border-radius: 8px;
  border: 2px solid #ffeecc;
}

.dropdown-content a 
{
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
  min-width: 120px;
  font-size: 14px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover,
.dropdown-content >.active,
.dropdown-content >.active a
{
	background-color: #ffbb33;
	color: #ffeecc;
	font-size:15px;
	border-radius: 8px;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content 
{
  display: block;
  opacity: 0.9;
}

.dropdown:hover .dropbtn 
{
	background-color: #ffbb33;
}
.tab
{
	float: left;
	width: 380px;
	text-align:center;
	padding: 10px;
	font-size: 16px;
}

.table
{
	text-align:center;
	width:350px;
	margin-left:16px;
	margin-right:16px;
}

thead
{
	background-color: #ffcc66;
}

tbody
{
	background-color: #f5f5f0;
}

th, td
{
	border: 1px solid white;
	padding: 7px;
	min-width:160px;
	border-radius: 8px;

}

.outcome
{
	clear:both;
	text-align: left;
	font-size: 17px;
	padding-left:30px;
}

.score
{
	font-size: 17px;
	background-color:  #ffcc66;
	float: left;
	padding: 4px;
	margin-left:10px;
	border-radius: 8px;
	border: 1px solid black;
	
}

#chartContainer
{
	margin-top:40px;
	width: 100%;
	height:450px;

}

#footer
{
	margin-top: 50px;
	background-color: black;
	color: #006666;
	text-align: center;
	padding: 12px;
	font-size: 16px;
	letter-spacing: 1px;
	opacity: 0.9;
}	
